In [ ]:
# Functions
'''
1. with parameters with return type
2. with parameters without return type
3. without parameters with return type
4. without parameters without return type
'''

In [ ]:
# function declaration
def greeting(name): # formal parameter
  print(f"Welcome to Python class - {name}!")

In [ ]:
greeting() # function call

Welcome to Python class!

In [ ]:
import time
names = ["ABC", "XYZ", "ASD", "QWE", "MNB"]
for i in names:
  greeting(i) # actual parameter
  time.sleep(2)

Welcome to Python class - ABC!
Welcome to Python class - XYZ!
Welcome to Python class - ASD!
Welcome to Python class - QWE!
Welcome to Python class - MNB!

In [ ]:
# with param with return
def add1(a,b):
  return a+b

In [ ]:
# commonly made mistakes
add1(1,2) #3 --> gone missing
add1(int(input()), int(input())) #30

10
20

30

In [ ]:
# 1. use print
print(add1(1,2)) # you are there to receive the choc
# 2. assigning to a variable
f1 = add1(5,6) # assigning a friend to get your choc
print(f1) # getting back the chocolate from your friend

3
11

In [ ]:
# with param without return
def add2(a,b):
  print(a+b)

In [ ]:
# commonly made mistake
# usage of print/var
print(add2(1,2))
f2 = add2(10,20)
print(f2)

3
None
30
None

In [ ]:
add2(1,2)
add2(3,4)

3
7

In [ ]:
# without param with return
def add3():
  a,b = int(input()), int(input())
  return a+b

In [ ]:
print(add3())

10
30
40

In [ ]:
f3 = add3()
print(f3)

9
8
17

In [ ]:
# without param without return
def add4():
  a,b = map(int, input().split())
  print(a+b)

add4()

55 66
121

In [ ]:
arr = list(map(int, input().split())) # for codekata
print(arr)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
arr = input().split() # string list
print(arr)

1 2 3
['1', '2', '3']

In [ ]:
arr = list(map(int, input().split()))
print(sum(arr))

100 200 300 400
1000

In [ ]:
arr = []
n = 5
for i in range(5):
  arr.append(int(input()))

total = 0
for i in arr:
  total+=i

print(total)

1
2
3
4
5
15

In [ ]:
n, k = map(int, input().split())
v = list(map(int, input().split()))
print(n, k)
print(" ".join(map(str, v)))

1 2
1 2 3 4 5
1 2
1 2 3 4 5

In [ ]:
# palindrome
'''
Malayalam
Racecar
12321
'''
def palindrome1(s):
  #slicing
  s1 = s.lower() # to keep the original string s untouched
  rev = s1[::-1]

  if s1 == rev:
    print(f"{s} is a Palindrome")
  else:
    print(f"{s} - :(")
  print()

palindrome1("Malayalam")
palindrome1("RaCeCar")
palindrome1("12321")
palindrome1(":)(:")
palindrome1(":)):")

Malayalam is a Palindrome

RaCeCar is a Palindrome

12321 is a Palindrome

:)(: - :(

:)): is a Palindrome

In [ ]:
s = "Racecar"
rev = s[::-1] # reversing a string
print(s,rev)
print(s==rev)

Racecar racecaR
False

In [ ]:
def palindrome2(s):
  # reversed built in method
  s1 = s.lower() # to keep the original string s untouched
  rev = "".join(reversed(s1))
  #print(s1, rev)

  if s1 == rev:
    print(f"{s} is a Palindrome")
  else:
    print(f"{s} - :(")
  print()

palindrome2("Malayalam")
palindrome2("RaCeCar")
palindrome2("12321")
palindrome2(":)(:")
palindrome2(":)):")

Malayalam is a Palindrome

RaCeCar is a Palindrome

12321 is a Palindrome

:)(: - :(

:)): is a Palindrome

In [ ]:
s = "abc"
print(reversed(s)) # reversed object
print("".join(reversed(s)))

<reversed object at 0x7f8fcb077d60>
cba

In [ ]:
s = "hello"
s = list(s)
print(s)
s = " # ".join(s)
print(s)

['h', 'e', 'l', 'l', 'o']
h # e # l # l # o

In [ ]:
# anagram
'''
silent listen
astronomer moonstarer
abc cba
123 231
'''
def anagram(s1, s2):
  s3 = s1.replace(" ", "").upper()
  s4 = s2.replace(" ", "").upper()

  #print(s3,s4)
  #print(sorted(s3), sorted(s4))

  if sorted(s3) == sorted(s4):
    print(f"{s3} and {s4} are Anagrams")
  else:
    print(f"{s1} and {s2} - :(")
  print()

anagram("silent", "listen")
anagram("Astronomer", "moon starer")
anagram("abc", "cBa")
anagram("123", "231")
anagram("abc", "xyz")

SILENT and LISTEN are Anagrams

ASTRONOMER and MOONSTARER are Anagrams

ABC and CBA are Anagrams

123 and 231 are Anagrams

abc and xyz - :(

In [ ]:
def anagram2(s1, s2):
  s1 = s1.replace(" ", "").lower()
  s2 = s2.replace(" ", "").lower()
  s1, s2 = list(s1), list(s2)
  s1.sort() # inplace sorting
  s2.sort()
  print(s1, s2)

  return s1 == s2

if anagram2("silent", "li s ten"):
  print("Anagrams")
else:
  print("Not Anagrams")

['e', 'i', 'l', 'n', 's', 't'] ['e', 'i', 'l', 'n', 's', 't']
Anagrams

In [ ]:
# sort and sorted
l1 = [100, -100, 7, 2025, 0]
print(l1)
l1.sort() # in place sorting
print(l1) # we lost the original list

[100, -100, 7, 2025, 0]
[-100, 0, 7, 100, 2025]

In [ ]:
l1 = [100, -100, 7, 2025, 0]
print(l1)
l2 = sorted(l1) # we are having both original list and sorted list
print(l1, l2)

[100, -100, 7, 2025, 0]
[100, -100, 7, 2025, 0] [-100, 0, 7, 100, 2025]

In [ ]:
# pangram
'''
26 alphabets

The quick brown fox jumps over the lazy dog
abcdefghijklmnopqrstuvwxyz
'''

In [ ]:
# using list, builtin method
def pangram1(s):
  s1 = s.replace(" ","").lower()
  l1 = []
  for i in s1:
    if i.isalpha():
      if i not in l1:
        l1.append(i)

  print(sorted(l1))

  if len(l1) == 26: print(f"'{s}' is a Pangram")
  else: print(":(")

  print()

pangram1("The quick brown fox jumps over the lazy dog")
pangram1("abcdefghijklmnopqrstuvwxyz")

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
'The quick brown fox jumps over the lazy dog' is a Pangram

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
'abcdefghijklmnopqrstuvwxyz' is a Pangram

In [ ]:
# using set and ascii_lower
from string import ascii_lowercase
def pangram2(s):
  s1 = s.replace(" ","").lower()
  letters = ascii_lowercase
  set1 = set() # set
  for i in s1:
    if i in letters:
        set1.add(i)

  print(sorted(set1))

  if len(set1) == 26: print(f"'{s}' is a Pangram")
  else: print(":(")

  print()

pangram2("The quick brown fox jumps over the lazy dog")
pangram2("abcdefghijklmnopqrstuvwxyz")
pangram2("abcdfghijklmnoqrstuvwyz")

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
'The quick brown fox jumps over the lazy dog' is a Pangram

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
'abcdefghijklmnopqrstuvwxyz' is a Pangram

['a', 'b', 'c', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'q', 'r', 's', 't', 'u', 'v', 'w', 'y', 'z']
:(

In [ ]:
# comprehension
l1 = [i for i in range(2,101,2)]
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
l2 = [i for i in range(1,101) if i%2 != 0]
print(l2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
s = "The quick brown fox jumps over the lazy dog"
s = s.replace(" ","").lower()
pangram_check = {i for i in s if i.isalpha()} # set comprehension
if len(pangram_check) == 26: print("Pangram")
else: print(":(")

:(

In [ ]:
d1 = {i:i**2 for i in range(1,11)} # dictionary comprehension
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
l4 = [(i, i**3) for i in range(1,11)] #list of tuples
print(l4)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343), (8, 512), (9, 729), (10, 1000)]

In [ ]:
# password generator
import random
from string import ascii_lowercase, ascii_uppercase, digits, punctuation
'''
16 char pwd
upper, lower, number, symbol -- x4
shuffle
'''
def pwd_generator(r):
  s1 = ""
  for i in range(r):
    uc = random.choice(ascii_uppercase)
    lc = random.choice(ascii_lowercase)
    d = random.choice(digits)
    p = random.choice(punctuation)

    s1 += uc + lc + d + p

  s1 = list(s1)
  random.shuffle(s1)
  print("".join(s1))

for i in range(7):
  pwd_generator(random.randint(3,5))

<$STqpC@P3Uz'0b535,d
vIxC>O0?a31&
R<Vvy[4.5Mo6
2\5$iB/buM2I
Fh6kS&;?O0l7rX)4-1bP
hYE35h5\Zg~:
ZaXg@+QfF?{p6473

In [ ]:
'''
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
!@#$%^&*()-_+={[]}|\:;"'<,>.?/~`
'''

In [ ]:
a1 = "!@#$%^&*()-_+={[]}|\\:;\"'<,>.?/~`"
a2 = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~ "
print(type(ascii_lowercase))

<class 'str'>

In [ ]:
ltrs = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
sym = "!@#$%^&*()-_+={[]}|\\:;\"'<,>.?/~`"
def pwd_generator(r):
  s1 = ""
  for i in range(r):
    uc = random.choice(ltrs)
    lc = random.choice(ltrs.lower())
    d = str(random.randint(0,9)) # random.choice("0123456789")
    p = random.choice(sym)

    s1 += uc + lc + d + p

  s1 = list(s1)
  random.shuffle(s1)
  print("".join(s1))

for i in range(7):
  pwd_generator(random.randint(3,5))

B|!G.0l3Uoz3
T6t+0Xu:yE3(
u`3s3k^CA6C4Hs%/
12xg@t]N"w5J0TG"
#7-rBh97J@AiT<?Y36rf
9sQCH'lcB6"7}#f2
sXqlE*o'790UD$~7

In [ ]:
# password validation
'''
atleast 1 uc, 1 lc, 1 num, 1 sym, no space, min length 8
'''

In [ ]:
sym = "!@#$%^&*()-_+={[]}|\\:;\"'<,>.?/~`"
def validate_pwd(pwd):
  # boolean variables
  flag_uc = flag_lc = flag_num = flag_sym = flag_sp = flag_len = False

  # validation
  for i in pwd:
    if i.isupper(): flag_uc = True
    elif i.islower(): flag_lc = True
    elif i.isdigit(): flag_num = True
    elif i in sym: flag_sym = True

  if " " not in pwd: flag_sp = True
  if len(pwd) >= 8: flag_len = True

  # error messages
  if not flag_uc: print("Your password doesn't have an Uppercase letter")
  if not flag_lc: print("Your password doesn't have a Lowercase letter")
  if not flag_num: print("Your password doesn't have a Number")
  if not flag_sym: print("Your password doesn't have a Symbol")
  if not flag_sp: print("Your password has a Space")
  if not flag_len: print("Your password is too short; min length is 8")

  # acceptance
  if flag_uc and flag_lc and flag_num and flag_sym and flag_sp and flag_len:
    print("Password Accepted!")

In [ ]:
validate_pwd("abc")

Your password doesn't have an Uppercase letter
Your password doesn't have a Number
Your password doesn't have a Symbol
Your password is too short; min length is 8

In [ ]:
validate_pwd("A bc")

Your password doesn't have a Number
Your password doesn't have a Symbol
Your password has a Space
Your password is too short; min length is 8

In [ ]:
validate_pwd("A_bc")

Your password doesn't have a Number
Your password is too short; min length is 8

In [ ]:
validate_pwd("A_bc123")

Your password is too short; min length is 8

In [ ]:
validate_pwd("A_bc123$")

Password Accepted!

In [ ]:
validate_pwd("T6t+0Xu:yE3(")

Password Accepted!

In [ ]:
# frequency of word and sentence using dict
# character freq
# method 1 - if else
def char_freq1(s): # case sensitive char freq
  d = {}
  for i in s:
    if i in d:
      d[i] += 1
    else:
      d[i] = 1
    print(d)

char_freq1("apple")
print()
char_freq1("aPple")
print()
char_freq1("Python")
print()

{'a': 1}
{'a': 1, 'p': 1}
{'a': 1, 'p': 2}
{'a': 1, 'p': 2, 'l': 1}
{'a': 1, 'p': 2, 'l': 1, 'e': 1}

{'a': 1}
{'a': 1, 'P': 1}
{'a': 1, 'P': 1, 'p': 1}
{'a': 1, 'P': 1, 'p': 1, 'l': 1}
{'a': 1, 'P': 1, 'p': 1, 'l': 1, 'e': 1}

{'P': 1}
{'P': 1, 'y': 1}
{'P': 1, 'y': 1, 't': 1}
{'P': 1, 'y': 1, 't': 1, 'h': 1}
{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}
{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [ ]:
# method 2 - get() builtin method
def char_freq2(s): # case insensitive char freq
  d = {}
  for i in s.upper():
    d[i] = d.get(i,0)+1 # very important in DSA
    print(d)

char_freq2("apple")
print()
char_freq2("aPple")
print()
char_freq2("Python")
print()

{'A': 1}
{'A': 1, 'P': 1}
{'A': 1, 'P': 2}
{'A': 1, 'P': 2, 'L': 1}
{'A': 1, 'P': 2, 'L': 1, 'E': 1}

{'A': 1}
{'A': 1, 'P': 1}
{'A': 1, 'P': 2}
{'A': 1, 'P': 2, 'L': 1}
{'A': 1, 'P': 2, 'L': 1, 'E': 1}

{'P': 1}
{'P': 1, 'Y': 1}
{'P': 1, 'Y': 1, 'T': 1}
{'P': 1, 'Y': 1, 'T': 1, 'H': 1}
{'P': 1, 'Y': 1, 'T': 1, 'H': 1, 'O': 1}
{'P': 1, 'Y': 1, 'T': 1, 'H': 1, 'O': 1, 'N': 1}

In [ ]:
# method 3 - Counter object
from collections import Counter
def char_freq3(s): # case insensitive char freq
  d = Counter(s.lower()) # print the result in the desc order of the value
  print(d)

char_freq3("apple")
print()
char_freq3("aPple")
print()
char_freq3("Python")
print()

char_freq3("Python Programming")
print()

Counter({'p': 2, 'a': 1, 'l': 1, 'e': 1})

Counter({'p': 2, 'a': 1, 'l': 1, 'e': 1})

Counter({'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1})

Counter({'p': 2, 'o': 2, 'n': 2, 'r': 2, 'g': 2, 'm': 2, 'y': 1, 't': 1, 'h': 1, ' ': 1, 'a': 1, 'i': 1})

In [ ]:
# word freq 1
def word_freq1(s): # case sensitive char freq
  d = {}
  for i in s.split(): # punc
    if i in d:
      d[i] += 1
    else:
      d[i] = 1
    print(d)

word_freq1("apple is nice apple.")
print()
word_freq1("aPple APPLE apple apple")
print()
word_freq1("Python python")
print()

{'apple': 1}
{'apple': 1, 'is': 1}
{'apple': 1, 'is': 1, 'nice': 1}
{'apple': 1, 'is': 1, 'nice': 1, 'apple.': 1}

{'aPple': 1}
{'aPple': 1, 'APPLE': 1}
{'aPple': 1, 'APPLE': 1, 'apple': 1}
{'aPple': 1, 'APPLE': 1, 'apple': 2}

{'Python': 1}
{'Python': 1, 'python': 1}

In [ ]:
# word freq 2
def word_freq2(s): # case insensitive char freq
  d = {}
  s = s.replace(".","")
  for i in s.upper().split():
    d[i] = d.get(i, 0) + 1
    print(d)

word_freq2("apple is nice apple.")
print()
word_freq2("aPple APPLE apple apple")
print()
word_freq2("Python python")
print()

{'APPLE': 1}
{'APPLE': 1, 'IS': 1}
{'APPLE': 1, 'IS': 1, 'NICE': 1}
{'APPLE': 2, 'IS': 1, 'NICE': 1}

{'APPLE': 1}
{'APPLE': 2}
{'APPLE': 3}
{'APPLE': 4}

{'PYTHON': 1}
{'PYTHON': 2}

In [ ]:
# word freq 3
def word_freq3(s): # case insensitive char freq
  s = s.replace(".","")
  d = Counter(s.lower().split())
  print(d)

word_freq3("apple is nice apple.")
print()
word_freq3("aPple APPLE apple apple")
print()
word_freq3("Python python")
print()

Counter({'apple': 2, 'is': 1, 'nice': 1})

Counter({'apple': 4})

Counter({'python': 2})

In [ ]:
s1 = "abc "
s2 = "xyz"
print(s1 + s2) # concatenation str + str
print(s1 * 7) # repetition # int * str / str * int

abc xyz
abc abc abc abc abc abc abc

In [ ]:
print("abc" + 123)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(s1 * s1)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
n = int(input())
if n > 0: print("Positive")
elif n < 0: print("Negative")
else: print("Zero")

0
Zero

In [ ]:
n = int(input())
print("Positive") if n > 0 else print("Negative") if n < 0 else print("Zero") # one line if

2025
Positive