In [ ]:
'''
A tuple is an immutable (unchangeable) and ordered collection of elements in Python. Tuples are similar to lists, but with a few key differences.

Why Use Tuples?
Safer than lists (data cannot be accidentally changed)
Faster than lists in performance
Can be used as dictionary keys
Ideal for fixed data like (latitude, longitude, RGB)
'''

In [1]:
# Tuple Creation

# Empty tuple
empty = ()

# Single element tuple ‚Äì needs a comma!
one_item = (5,)

# Mixed data types
mixed = (1, "apple", 3.14)

# Nested tuple
nested = (1, (2, 3), [4, 5])

In [2]:
# Tricky Part

a = (1)
print(a, type(a))
b = 1,2
print(b, type(b))
c = "abc"
print(c, type(c))

1 <class 'int'>
(1, 2) <class 'tuple'>
abc <class 'str'>

In [3]:
# Accessing Elements
my_tuple = (10, 20, 30, 40)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:3])

10
40
(20, 30)

In [4]:
# Tuple Operations
t1 = (1, 2)
t2 = (3, 4)

print(t1 + t2)
print(t1 * 2)

(1, 2, 3, 4)
(1, 2, 1, 2)

In [5]:
#  Built-in Functions
t = (5, 1, 7, 3)

print(len(t))
print(max(t))
print(min(t))
print(sum(t))
print(t.count(5))
print(t.index(7))

4
7
1
16
1
2

In [6]:
# Tuple Packing and Unpacking
# Packing
person = ("Dhoni", 43, "Cricketer")

# Unpacking
name, age, job = person
print(name)
print(age)

Dhoni
43

In [7]:
# Looping Through a Tuple
my_tuple = (10, 20, 30, 40)

for item in my_tuple:
    print(item)

10
20
30
40

In [8]:
fruits = ("apple", "banana", "cherry")

for i in range(len(fruits)):
    print(f"Fruit {i+1} is {fruits[i]}")

Fruit 1 is apple
Fruit 2 is banana
Fruit 3 is cherry

In [9]:
colors = ("red", "green", "blue")

for index, color in enumerate(colors):
    print(f"Color at index {index} is {color}")

Color at index 0 is red
Color at index 1 is green
Color at index 2 is blue

In [10]:
names = ("Dhoni", "Kohli", "Rohit")
scores = (97, 85, 77)

for name, score in zip(names, scores):
    print(f"{name} scored {score} runs.")

Dhoni scored 97 runs.
Kohli scored 85 runs.
Rohit scored 77 runs.

In [11]:
players = (("Dhoni", 7), ("Kohli", 18), ("Rohit", 45))

for name, number in players:
    print(f"Player: {name}, Jersey: {number}")

Player: Dhoni, Jersey: 7
Player: Kohli, Jersey: 18
Player: Rohit, Jersey: 45

In [12]:
# Immutability (Can‚Äôt Change, but Can Contain Mutables)
t = (1, 2, [3, 4])
t[2][0] = 100
print(t)

(1, 2, [100, 4])

In [13]:
# Tuple as Dictionary Keys
# Tuples (if all elements are immutable) can be used as keys in dictionaries, while lists cannot
locations = {
    (11.0168, 76.9558): "Coimbatore",
    (23.3441, 85.3096): "Ranchi"
}

print(locations[(11.0168, 76.9558)])

Coimbatore

In [14]:
# Tuple Comparisons
print((1, 2, 3) < (1, 2, 4))
print((1, 2, 3) == (1, 2, 3))

True
True

In [15]:
# Tuple Slicing
t = (10, 20, 30, 40, 50)
print(t[1:4])

(20, 30, 40)

In [16]:
# Using * for Tuple Unpacking (Extended Unpacking)
t = (1, 2, 3, 4, 5)

a, b, *rest = t
print(a)
print(rest)

1
[3, 4, 5]

In [17]:
# namedtuple ‚Äì Tuples with Names (from collections module)
from collections import namedtuple

Player = namedtuple("Player", ["name", "jersey"])
p = Player("Dhoni", 7)
print(p.name)     # Dhoni
print(p.jersey)   # 7

Dhoni
7

In [18]:
# Application - Social Media Post Dashboard using Tuple of Tuples

#Each post is a tuple in this format:
# (username, post_id, likes, comments, (hashtags))
# All posts are stored in a tuple of tuples (read-only style, good for viewing dashboards or logs).

posts = (
    ("@dhoni", 101, 1500, 300, ("#cricket", "#legend")),
    ("@virat", 102, 2200, 500, ("#runmachine", "#king")),
    ("@rohit", 103, 1800, 350, ("#hitman", "#sixmachine")),
    ("@jadeja", 104, 950, 120, ("#fielding", "#rockstar")),
    ("@gill", 105, 700, 80, ("#nextgen", "#stylish"))
)

In [19]:
# Print All Posts by a Specific User
search_user = "@dhoni"

print(f"Posts by {search_user}:")
for post in posts:
    username, post_id, likes, comments, tags = post
    if username == search_user:
        print(f"Post ID: {post_id}, Likes: {likes}, Comments: {comments}, Tags: {tags}")

Posts by @dhoni:
Post ID: 101, Likes: 1500, Comments: 300, Tags: ('#cricket', '#legend')

In [20]:
# Display Trending Posts (likes > 1000)
print("üî• Trending Posts (likes > 1000):")
for post in posts:
    username, post_id, likes, comments, tags = post
    if likes > 1000:
        print(f"{username} - Post #{post_id} | Likes: {likes}, Tags: {' '.join(tags)}")

üî• Trending Posts (likes > 1000):
@dhoni - Post #101 | Likes: 1500, Tags: #cricket #legend
@virat - Post #102 | Likes: 2200, Tags: #runmachine #king
@rohit - Post #103 | Likes: 1800, Tags: #hitman #sixmachine

In [21]:
# Extract All Unique Hashtags Used

all_tags = set()  # Use set to avoid duplicates

for post in posts:
    _, _, _, _, tags = post
    for tag in tags:
        all_tags.add(tag)

print("üìå All Unique Hashtags Used:")
for tag in sorted(all_tags):
    print(tag)

üìå All Unique Hashtags Used:
#cricket
#fielding
#hitman
#king
#legend
#nextgen
#rockstar
#runmachine
#sixmachine
#stylish

In [22]:
# Common Errors

# Trying to Update a Tuple Element
t = (1, 2, 3)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [23]:
# Trying to Append to a Tuple
t = (1, 2, 3)
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
# Trying to Remove Elements from a Tuple
t = (1, 2, 3)
t.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [25]:
# Forgetting Comma in Single-Element Tuple
t = (5)
print(type(t))  # This is NOT a tuple!

# Logical Error

<class 'int'>

In [26]:
# Trying to Delete an Element with del
t = (1, 2, 3)
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [27]:
# But deleting the whole tuple works
del t  # Deletes the entire tuple object

In [28]:
print(t)

NameError: name 't' is not defined

In [29]:
# How Do You ‚ÄúChange‚Äù a Tuple?

# You recreate it as a new tuple.
t = (1, 2, 3)
t = t + (4,)  # Adding an item
print(t)      # (1, 2, 3, 4)

(1, 2, 3, 4)

In [30]:
# Using in and not in with Tuples - check if a value exists inside a tuple using in or not in.
colors = ('red', 'green', 'blue')

print('red' in colors)
print('yellow' not in colors)

teams = (('dhoni', 'CSK'), ('virat', 'RCB'))
print(('raina', 'CSK') in teams)

True
True
False