In [ ]:
'''
A set is an unordered collection of unique elements.
It is one of the built-in data types used to store multiple items in a single variable.
Sets are mutable, but the elements inside must be immutable (like numbers, strings, or tuples).

Key Features
No duplicates allowed
Unordered and unindexed
Mutable (can add/remove items)
Can perform mathematical set operations
'''

In [1]:
# Creating a Set
# Using curly braces
s1 = {1, 2, 3, 4, 5}

# Using the set() constructor
s2 = set([1, 2, 2, 3, 4])
print(s1, s2)

{1, 2, 3, 4, 5} {1, 2, 3, 4}

In [ ]:
# Set Methods

In [2]:
# add(elem) - Adds a single element to the set.
s = {1, 2, 3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [3]:
# clear() - Removes all elements from the set.
s = {1, 2, 3}
s.clear()
print(s)

set()

In [4]:
# copy() - Returns a shallow copy of the set.
s1 = {1, 2, 3}
s2 = s1.copy()
print(s2)

{1, 2, 3}

In [5]:
# update(other_set) - Adds elements from another set.
a = {1, 2}
b = {3, 4}
a.update(b)
print(a)

{1, 2, 3, 4}

In [6]:
# discard(elem) - Removes an element if present (no error if missing).
s = {1, 2, 3}
s.discard(2)
s.discard(10)  # No error
print(s)  # {1, 3}

{1, 3}

In [7]:
# remove(elem) - Removes a specific element (raises error if not found).
s = {1, 2, 3}
s.remove(2)
# s.remove(10)  # Error: KeyError
print(s)

{1, 3}

In [8]:
# pop() - Removes and returns a random element.
s = {10, 20, 30}
x = s.pop()
print(x)      # Could be any element
print(s)      # Remaining elements

10
{20, 30}

In [9]:
# union(other_set) - Returns a new set with elements from both sets.
a = {1, 2}
b = {2, 3, 4}
print(a.union(b))  # {1, 2, 3, 4}
print(a | b)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [10]:
# intersection(other_set) - Returns elements common to both sets.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))
print(a & b)

{2, 3}
{2, 3}

In [11]:
# intersection_update(other_set) - Updates the set to keep only elements found in both.
a = {1, 2, 3}
b = {2, 3, 4}
a.intersection_update(b)
print(a)

{2, 3}

In [12]:
# symmetric_difference(other_set) - Returns elements that are in either set, but not both.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.symmetric_difference(b))  # {1, 2, 4, 5}
print(a ^ b)
# union of differences
print((a-b) | (b-a))

{1, 2, 4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [13]:
# symmetric_difference_update(other_set) - Updates set to contain elements only in one of the sets.
a = {1, 2, 3}
b = {2, 3, 4}
a.symmetric_difference_update(b)
print(a)  # {1, 4}

{1, 4}

In [14]:
# difference(other_set) - Returns elements present in the first set but not in the second.
a = {1, 2, 3, 4}
b = {3, 4, 5}
print(a.difference(b))
print(a - b)

{1, 2}
{1, 2}

In [15]:
# difference_update(other_set) - Removes elements found in another set.
a = {1, 2, 3, 4}
b = {2, 4}
a.difference_update(b)
print(a)

{1, 3}

In [16]:
# isdisjoint(other_set) - Returns True if no items in common.
a = {1, 2}
b = {3, 4}
print(a.isdisjoint(b))  # True

True

In [17]:
# issubset(other_set) - Returns True if all items of the set are in another set.
a = {1, 2}
b = {1, 2, 3, 4}
print(a.issubset(b))  # True

True

In [18]:
# issuperset(other_set) - Returns True if all items of the other set are in this set.
a = {1, 2, 3, 4}
b = {2, 3}
print(a.issuperset(b))  # True

True

In [19]:
# Simple Programs
# Remove Duplicates from a List Using Set
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print("Unique numbers:", unique_nums)

Unique numbers: [1, 2, 3, 4, 5]

In [20]:
# Find Common Elements Between Two Lists
list1 = ['apple', 'banana', 'mango']
list2 = ['banana', 'grape', 'mango']
common = set(list1) & set(list2)
print("Common fruits:", common)

Common fruits: {'mango', 'banana'}

In [21]:
# Find Unique Words in a Sentence
sentence = "python is easy and python is powerful"
words = sentence.split()
unique_words = set(words)
print("Unique words:", unique_words)

Unique words: {'powerful', 'and', 'is', 'python', 'easy'}

In [22]:
# Students Who Play Either Cricket or Football but Not Both
cricket = {'Ram', 'Sam', 'John'}
football = {'Sam', 'David', 'Ram'}
only_one_game = cricket ^ football
print("Students playing only one game:", only_one_game)

Students playing only one game: {'David', 'John'}

In [23]:
# Find All Vowels in a String
text = "Hello World"
vowels = set("aeiouAEIOU")
found = vowels.intersection(set(text))
print("Vowels in text:", found)

Vowels in text: {'e', 'o'}

In [ ]:
'''
Scenario: CSK Player Performance Analyzer using Sets
You're a data analyst working for Chennai Super Kings.
Your job is to analyze player contributions across different matches using Python sets.
Each match records the players who either scored runs, took wickets, or took catches.

Using this data, you will answer questions that will help MS Dhoni plan better for upcoming matches.
'''

In [24]:
run_scorers = {"Ruturaj", "Conway", "Dhoni", "Jadeja", "Moeen", "Shivam"}
wicket_takers = {"Jadeja", "Pathirana", "Moeen", "Deepak", "Santner"}
catch_takers = {"Ruturaj", "Jadeja", "Conway", "Moeen", "Rayudu"}

In [25]:
# Find the all-rounders â€“ players who scored runs, took wickets, and catches.
all_rounders = run_scorers & wicket_takers & catch_takers
print("All-rounders:", all_rounders)

All-rounders: {'Jadeja', 'Moeen'}

In [26]:
# Find players who contributed only by scoring runs.
only_batsmen = run_scorers - (wicket_takers | catch_takers)
print("Only Batsmen:", only_batsmen)

Only Batsmen: {'Shivam', 'Dhoni'}

In [27]:
# Find players who either took wickets or catches but didnâ€™t score any runs.
only_bowling_fielding = (wicket_takers | catch_takers) - run_scorers
print("Only bowling/fielding contributors:", only_bowling_fielding)

Only bowling/fielding contributors: {'Rayudu', 'Deepak', 'Pathirana', 'Santner'}

In [28]:
# Find players who contributed in at least two categories.
at_least_two = (
    (run_scorers & wicket_takers) |
    (run_scorers & catch_takers) |
    (wicket_takers & catch_takers)
)
print("Players who contributed in at least 2 categories:", at_least_two)

Players who contributed in at least 2 categories: {'Jadeja', 'Moeen', 'Ruturaj', 'Conway'}

In [29]:
# Add new player 'Sameer Rizvi' to run_scorers and update stats.
run_scorers.add("Sameer Rizvi")
print("Updated Run Scorers:", run_scorers)

Updated Run Scorers: {'Jadeja', 'Shivam', 'Moeen', 'Ruturaj', 'Conway', 'Sameer Rizvi', 'Dhoni'}

In [30]:
# Total unique contributors across all roles
unique_contributors = run_scorers | wicket_takers | catch_takers
print("Total unique players who contributed:", unique_contributors)
print("Total count:", len(unique_contributors))

Total unique players who contributed: {'Jadeja', 'Shivam', 'Moeen', 'Ruturaj', 'Sameer Rizvi', 'Deepak', 'Santner', 'Pathirana', 'Dhoni', 'Rayudu', 'Conway'}
Total count: 11

In [ ]:
'''
"Build Your CSK Dream Team"
Scenario:
Youâ€™re the chief selector for CSK's next big match. You have:
Players who are available
Players who are injured
Players who are under BCCI contract (mandatory selection if available)

Write a function that:
Builds your final match squad based on availability and contracts
Excludes injured players
Prioritizes contracted players
Ensures no duplicates and clear set logic
'''

In [31]:
def build_csk_dream_team(available, injured, contracted):
    """
    Constructs the final CSK team:
    - Includes only available players
    - Removes injured ones
    - Prioritizes contracted players first
    """
    # Step 1: Remove injured players from available pool
    fit_players = available - injured

    # Step 2: Pick all contracted players if they are fit
    must_include = contracted & fit_players

    # Step 3: Fill remaining from other fit players
    others = fit_players - must_include

    # Step 4: Final squad: contracted first, then fit others
    final_squad = must_include | others

    print("ðŸ”¥ Final CSK Dream Team:")
    print(final_squad)
    print("âœ… Total Players:", len(final_squad))
    print("ðŸ‘‘ Contracted Players Included:", must_include)
    print("ðŸš‘ Injured Players Skipped:", injured & available)

In [32]:
available = {"Dhoni", "Ruturaj", "Jadeja", "Moeen", "Deepak", "Sameer", "Pathirana", "Chahar", "Rayudu"}
injured = {"Chahar", "Rayudu"}
contracted = {"Dhoni", "Jadeja", "Deepak", "Ruturaj"}
build_csk_dream_team(available, injured, contracted)

ðŸ”¥ Final CSK Dream Team:
{'Jadeja', 'Moeen', 'Ruturaj', 'Deepak', 'Sameer', 'Pathirana', 'Dhoni'}
âœ… Total Players: 7
ðŸ‘‘ Contracted Players Included: {'Jadeja', 'Ruturaj', 'Deepak', 'Dhoni'}
ðŸš‘ Injured Players Skipped: {'Rayudu', 'Chahar'}