In [1]:
# datetime
import datetime as dt

In [2]:
# Get Current Date and Time
now = dt.datetime.now()
print("Now:", now) # GMT

Now: 2025-04-29 06:23:48.407578

In [3]:
# For our timezone IST
import pytz
print("IST:", dt.datetime.now(pytz.timezone('Asia/Kolkata')))

IST: 2025-04-29 11:53:51.802964+05:30

In [4]:
# Other timezone
print("Europe:", dt.datetime.now(pytz.timezone('Europe/London')))
print("Asia:", dt.datetime.now(pytz.timezone('Asia/Tokyo')))
print("Australia:", dt.datetime.now(pytz.timezone('Australia/Sydney')))
print("Africa:", dt.datetime.now(pytz.timezone('Africa/Johannesburg')))
print("Antarctica:", dt.datetime.now(pytz.timezone('Antarctica/Palmer')))

Europe: 2025-04-29 07:23:55.708615+01:00
Asia: 2025-04-29 15:23:55.711061+09:00
Australia: 2025-04-29 16:23:55.712602+10:00
Africa: 2025-04-29 08:23:55.713663+02:00
Antarctica: 2025-04-29 03:23:55.714734-03:00

In [5]:
# Different America Timezones
print("US/Pacific:", dt.datetime.now(pytz.timezone('US/Pacific')))   # US/Pacific — Pacific Time (e.g., California)
print("US/Eastern:", dt.datetime.now(pytz.timezone('US/Eastern')))   # US/Eastern — Eastern Time (e.g., New York)
print("US/Central:", dt.datetime.now(pytz.timezone('US/Central')))   # US/Central — Central Time (e.g., Texas)
print("US/Mountain:", dt.datetime.now(pytz.timezone('US/Mountain'))) # US/Mountain — Mountain Time (e.g., Colorado)

US/Pacific: 2025-04-28 23:23:58.273212-07:00
US/Eastern: 2025-04-29 02:23:58.275631-04:00
US/Central: 2025-04-29 01:23:58.277555-05:00
US/Mountain: 2025-04-29 00:23:58.278815-06:00

In [6]:
# Get Only Date or Time
today = dt.date.today()
print("Date:", today)

current_time = dt.datetime.now(pytz.timezone('Asia/Kolkata')).time()
print("Time:", current_time)

Date: 2025-04-29
Time: 11:54:01.021482

In [7]:
# Create a Specific Date or Time
d = dt.datetime(2025, 7, 7, 7, 7)
print("Custom datetime:", d)

Custom datetime: 2025-07-07 07:07:00

In [8]:
# Formatting dates
formatted = d.strftime("%d-%m-%Y %H:%M:%S")
print("Formatted:", formatted)

Formatted: 07-07-2025 07:07:00

In [9]:
# Getting Today's Date in Different Formats
today = dt.date.today()

# Date as "Year-Month-Day"
print("Year-Month-Day:", today)

# Date as "Month/Day/Year"
print("Month/Day/Year:", today.strftime("%m/%d/%Y"))

# Day of the week (e.g., Monday)
print("Day of the Week:", today.strftime("%A"))

Year-Month-Day: 2025-04-29
Month/Day/Year: 04/29/2025
Day of the Week: Tuesday

In [10]:
# Working with Time
current_time = dt.datetime.now(pytz.timezone('Asia/Kolkata')).time()
print("Current Time:", current_time)

# Convert string to time
time_str = "14:30:45"
time_obj = dt.datetime.strptime(time_str, "%H:%M:%S").time()
print("Parsed Time:", time_obj)

Current Time: 11:54:17.079012
Parsed Time: 14:30:45

In [11]:
# Parsing a Date String
date_str = "07-07-2025"
parsed_date = dt.datetime.strptime(date_str, "%d-%m-%Y")
print("Parsed:", parsed_date)

Parsed: 2025-07-07 00:00:00

In [12]:
# Date Arithmetic
from datetime import timedelta

tomorrow = today + timedelta(days=1)
print("Tomorrow:", tomorrow)

Tomorrow: 2025-04-30

In [13]:
# Adding/Subtracting Days, Hours, etc.

# Add 18 days
hundred_days_later = today + timedelta(days=100)
print("Ten days later:", hundred_days_later)

# Subtract 7 hours
seven_hours_earlier = dt.datetime.now(pytz.timezone('Asia/Kolkata')) - timedelta(hours=7)
print("Seven hours earlier:", seven_hours_earlier)

Ten days later: 2025-08-07
Seven hours earlier: 2025-04-29 04:54:34.516868+05:30

In [14]:
# Comparing Dates
date1 = dt.date(2025, 4, 29)
date2 = dt.date(2024, 4, 29)

if date1 > date2:
    print(f"{date1} is later than {date2}")
else:
    print(f"{date1} is earlier than {date2}")

2025-04-29 is later than 2024-04-29

In [15]:
# Converting a Time Delta to Total Seconds
start_time = dt.datetime(2025, 4, 29, 7, 0, 0)
end_time = dt.datetime(2025, 4, 29, 19, 0, 0)

delta = end_time - start_time
print("Time Difference in Seconds:", delta.total_seconds()) # 12 hours

Time Difference in Seconds: 43200.0

In [16]:
# calendar
import calendar

In [17]:
# Print a Month's Calendar
print(calendar.month(2025, 8))

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [18]:
# Print a Year’s Calendar
print(calendar.calendar(2025))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [19]:
# Check for Leap Year
print("Is 2024 a leap year?", calendar.isleap(2024))
print("Is 2025 a leap year?", calendar.isleap(2025))

Is 2024 a leap year? True
Is 2025 a leap year? False

In [20]:
# Get Number of Leap Years Between Years
print(calendar.leapdays(1900, 2025))

31

In [21]:
# Weekday of a Specific Date
# Monday is 0 and Sunday is 6
print(calendar.weekday(2025,7 , 7))  # 0 (Sunday)

0

In [22]:
# Check the First Day of the Month
# Get the weekday of the first day of the month (0=Monday, 6=Sunday)
weekday = calendar.monthrange(2025, 5)[0]
print("First day of the month May 2025 (0=Monday, 6=Sunday):", weekday) # Thursday

First day of the month May 2025 (0=Monday, 6=Sunday): 3

In [23]:
# Getting the Number of Days in a Month
days_in_month = calendar.monthrange(2025, 5)[1]
print("Days in May 2025:", days_in_month)

Days in May 2025: 31

In [24]:
#  Finding Out Which Day of the Week a Specific Date Falls On
# Get the weekday (0=Monday, 6=Sunday) of a specific date
weekday = calendar.weekday(2025, 7, 7)
print("Day of the Week for July 7, 2025:", calendar.day_name[weekday])

Day of the Week for July 7, 2025: Monday

In [25]:
# Generate a List of All Weekdays in a Given Month
month_days = calendar.monthcalendar(2025, 5)
print("Weekdays in May 2025:")

# Loop through the month and print weekdays (ignore 0 values)
for week in month_days:
    for day in week:
        if day != 0:
            print(day, end=" ")

Weekdays in May 2025:
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31

In [26]:
# Birthday Calculator

def calculate_age_with_leap_years(birthdate_str):
    # Convert birthdate string to datetime object
    birthdate = dt.datetime.strptime(birthdate_str, "%Y-%m-%d")

    # Get today's date
    today = dt.datetime.today()

    # Calculate the age in years
    age_years = today.year - birthdate.year

    # Adjust if the birthday hasn't occurred yet this year
    if today.month < birthdate.month or (today.month == birthdate.month and today.day < birthdate.day):
        age_years -= 1

    # Calculate the number of days and months
    age_months = today.month - birthdate.month
    age_days = today.day - birthdate.day

    if age_months < 0:
        age_months += 12
    if age_days < 0:
        age_days += (today - dt.datetime(today.year, today.month, 1)).days

    # Calculate the number of leap years
    leap_years = 0
    for year in range(birthdate.year, today.year + 1):
        if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
            leap_years += 1

    # Add the leap year days to the age
    age_days += leap_years

    return age_years, age_months, age_days

birthdate_input = input("Enter your birthdate (YYYY-MM-DD): ")
age_years, age_months, age_days = calculate_age_with_leap_years(birthdate_input)

print(f"You are {age_years} years, {age_months} months, and {age_days} days old, considering leap years.")

Enter your birthdate (YYYY-MM-DD): 1981-07-07
You are 43 years, 9 months, and 33 days old, considering leap years.

In [27]:
# Days Until Next Birthday

def days_until_next_birthday(birthdate_str):
    # Convert the birthdate string to a datetime object
    birthdate = dt.datetime.strptime(birthdate_str, "%Y-%m-%d")

    # Get today's date
    today = dt.datetime.today()

    # Calculate the next birthday date
    next_birthday = dt.datetime(today.year, birthdate.month, birthdate.day)

    # If the next birthday has already passed this year, set it to next year
    if today > next_birthday:
        next_birthday = dt.datetime(today.year + 1, birthdate.month, birthdate.day)

    # Calculate the difference in days
    days_left = (next_birthday - today).days

    return days_left

birthdate_input = input("Enter your birthdate (YYYY-MM-DD): ")
days_left = days_until_next_birthday(birthdate_input)
print(f"There are {days_left} days left until your next birthday!")

Enter your birthdate (YYYY-MM-DD): 2025-07-07
There are 68 days left until your next birthday!

In [28]:
# Countdown Timer for a Future Date
from datetime import datetime

def countdown_to_event(event_date_str):
    # Convert the event date string into a datetime object
    event_date = datetime.strptime(event_date_str, "%Y-%m-%d %H:%M:%S")

    # Get the current date and time
    now = datetime.now()

    # Calculate the difference between the event and the current time
    time_remaining = event_date - now

    # Get the days, hours, minutes, and seconds
    days_remaining = time_remaining.days
    seconds = time_remaining.seconds
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    seconds = seconds % 60

    return days_remaining, hours, minutes, seconds

event_date_input = input("Enter the event date and time (YYYY-MM-DD HH:MM:SS): ")
days, hours, minutes, seconds = countdown_to_event(event_date_input)

print(f"Time remaining: {days} days, {hours} hours, {minutes} minutes, and {seconds} seconds.")

Enter the event date and time (YYYY-MM-DD HH:MM:SS): 2025-07-07 00:00:00
Time remaining: 68 days, 17 hours, 30 minutes, and 4 seconds.

In [29]:
#  Calculate Time Between Two Dates (in Days, Hours, Minutes)

def calculate_time_difference(start_date_str, end_date_str):
    # Convert start and end dates to datetime objects
    start_date = datetime.strptime(start_date_str, "%Y-%m-%d %H:%M:%S")
    end_date = datetime.strptime(end_date_str, "%Y-%m-%d %H:%M:%S")

    # Calculate the difference between the two dates
    time_difference = end_date - start_date

    # Get the total number of days, hours, and minutes
    days = time_difference.days
    seconds = time_difference.seconds
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60

    return days, hours, minutes

start_date_input = input("Enter the start date and time (YYYY-MM-DD HH:MM:SS): ")
end_date_input = input("Enter the end date and time (YYYY-MM-DD HH:MM:SS): ")

days, hours, minutes = calculate_time_difference(start_date_input, end_date_input)
print(f"The difference is {days} days, {hours} hours, and {minutes} minutes.")

Enter the start date and time (YYYY-MM-DD HH:MM:SS): 2025-02-06 00:00:00
Enter the end date and time (YYYY-MM-DD HH:MM:SS): 2025-07-07 00:00:00
The difference is 151 days, 0 hours, and 0 minutes.

In [30]:
# Convert Days to Years, Months, and Days
from datetime import timedelta

def convert_days_to_years_months_days(days):
    # Define average days in a year and month
    days_in_year = 365.25  # considering leap years
    days_in_month = 30.44  # average days in a month

    # Calculate years, months, and days
    years = int(days // days_in_year)
    remaining_days = days % int(days_in_year)

    months = int(remaining_days // days_in_month)
    days_left = int(remaining_days % days_in_month)

    return years, months, days_left

days_input = int(input("Enter the number of days: "))
years, months, days_left = convert_days_to_years_months_days(days_input)

print(f"{days_input} days is approximately {years} years, {months} months, and {days_left} days.")

Enter the number of days: 2025
2025 days is approximately 5 years, 6 months, and 17 days.

In [31]:
# 12-Hour to 24-Hour Time Converter
from datetime import datetime

def convert_to_24hr_format(time_str):
    # Convert 12-hour time format to 24-hour time format
    time_obj = datetime.strptime(time_str, "%I:%M %p")
    return time_obj.strftime("%H:%M")

time_input = input("Enter time in 12-hour format (e.g., 02:30 PM): ")
converted_time = convert_to_24hr_format(time_input)
print(f"The time in 24-hour format is: {converted_time}")

Enter time in 12-hour format (e.g., 02:30 PM): 07:00 PM
The time in 24-hour format is: 19:00

In [32]:
# Leap Year Calculator
def is_century_leap_year(year):
    # Century leap year rule: Divisible by 400
    return year % 400 == 0

def is_non_century_leap_year(year):
    # Non-century leap year rule: Divisible by 4 but not by 100
    return year % 4 == 0 and year % 100 != 0

def is_leap_year(year):
    # A leap year is either a century leap year or non-century leap year
    return is_century_leap_year(year) or is_non_century_leap_year(year)

def days_in_year(year):
    # A leap year has 366 days, otherwise 365 days
    return 366 if is_leap_year(year) else 365

year_input = int(input("Enter a year: "))
if is_leap_year(year_input):
    if is_century_leap_year(year_input):
        print(f"{year_input} is a century leap year with {days_in_year(year_input)} days.")
    elif is_non_century_leap_year(year_input):
        print(f"{year_input} is a non-century leap year with {days_in_year(year_input)} days.")
else:
    print(f"{year_input} is not a leap year. It has {days_in_year(year_input)} days.")

Enter a year: 2100
2100 is not a leap year. It has 365 days.

In [33]:
year_input = int(input("Enter a year: "))
if is_leap_year(year_input):
    if is_century_leap_year(year_input):
        print(f"{year_input} is a century leap year with {days_in_year(year_input)} days.")
    elif is_non_century_leap_year(year_input):
        print(f"{year_input} is a non-century leap year with {days_in_year(year_input)} days.")
else:
    print(f"{year_input} is not a leap year. It has {days_in_year(year_input)} days.")

Enter a year: 2800
2800 is a century leap year with 366 days.

In [34]:
year_input = int(input("Enter a year: "))
if is_leap_year(year_input):
    if is_century_leap_year(year_input):
        print(f"{year_input} is a century leap year with {days_in_year(year_input)} days.")
    elif is_non_century_leap_year(year_input):
        print(f"{year_input} is a non-century leap year with {days_in_year(year_input)} days.")
else:
    print(f"{year_input} is not a leap year. It has {days_in_year(year_input)} days.")

Enter a year: 2028
2028 is a non-century leap year with 366 days.