In [1]:
#input
a = input() # 7
b = input() # 2
c = a+b

print(c, type(c)) #a) 9 b) something else

# if you have chosen option b... what is that something else??

7
2
72 <class 'str'>

In [2]:
# input --> by default the datatype is string, so "concatenation"
# Then for addition? Here it is!

a = int(input()) # 7
b = int(input())  # 2
c = a+b #addition
print(c, type(c))

# We got it! BTW, type() helps us to find the datatype of the variable!

7
2
9 <class 'int'>

In [3]:
print(7 + 2) # addition
print("7" + "2") # str + str --> concatenation

9
72

In [4]:
#ERROR
print("7" + 2)  #str + int

TypeError: can only concatenate str (not "int") to str

In [5]:
print(7 + "2")  #int + str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
# An example with prompts in the input statement

# Getting product details from the user
name = input("Enter the product name: ")
quantity = int(input("Enter quantity: "))
price = float(input("Enter price per item: "))

# Calculate total cost
total = quantity * price

# Display formatted receipt
print("\n--- Purchase Summary ---")
print(f"Product        : {name}")
print(f"Quantity       : {quantity}")
print(f"Price per item : â‚¹{price:.2f}") # for two decimal places..
print(f"Total Cost     : â‚¹{total:.2f}")

Enter the product name: Chocolate
Enter quantity: 7
Enter price per item: 25

--- Purchase Summary ---
Product        : Chocolate
Quantity       : 7
Price per item : â‚¹25.00
Total Cost     : â‚¹175.00

In [7]:
# multiple inputs
nums = input("Enter two numbers separated by a space: ")
a, b = nums.split()
print("First number:", a)
print("Second number:", b)
# what do you think as the datatypes of a and b?

Enter two numbers separated by a space: 2025 -1
First number: 2025
Second number: -1

In [8]:
print(type(a), type(b))
#OMG! Strings... ðŸ¤”
# ho to make them integers??

<class 'str'> <class 'str'>

In [9]:
# a higher order function - map()
# We'll discuss in detail soon! But this will be useful for competitive programs...

a, b = map(int, nums.split()) # converting each element to integer using map
print(a,b)
print(type(a), type(b))
#Yes... it is working!

2025 -1
<class 'int'> <class 'int'>

In [10]:
# to evaluate an expression in input
exp = float(eval(input("Enter an expression: ")))
print(exp)

Enter an expression: 100 + (2*3) / 5
101.2

In [11]:
# What happens if you do int("101.2")?
print(int(101.2)) # truncated!!

101

In [12]:
# Convert string to boolean: "True" â†’ True
print(bool("True"))
print(type("True"), type(True))

True
<class 'str'> <class 'bool'>

In [13]:
# one last topic, with repetition
# What is the output of 3 * '7'?
print(7 * 3) # multiplication

print("7" * 3) # repetition; 7 is repeated 3 times
print(7 * "3") # repetition ; 3 is repeated 7 times

21
777
3333333

In [14]:
# what error in repetition then ? str * str
print("7" * "3")

TypeError: can't multiply sequence by non-int of type 'str'

In [18]:
# Invitation to enjoy Python! :)
# usage of input and f-strings!

name = input("Enter your name: ")
friend = input("Enter your friend's name: ")
blog = input("Enter the blog name: ")
start_date = input("Enter the learning start date: ")

print(f"""
Hi {friend}! ðŸ‘‹

You're invited to start an exciting journey of learning Python ðŸ“šðŸ’» with {name}!

ðŸ“– Blog: {blog}
ðŸš€ Start Date: {start_date}

From basic inputs to cool applications â€” let's grow together and have fun coding!

See you there,
{name}
""")

Enter your name: ABC
Enter your friend's name: XYZ
Enter the blog name: https://mastercodingfromscratch.blogspot.com/
Enter the learning start date: Today!

Hi XYZ! ðŸ‘‹

You're invited to start an exciting journey of learning Python ðŸ“šðŸ’» with ABC!

ðŸ“– Blog: https://mastercodingfromscratch.blogspot.com/
ðŸš€ Start Date: Today!

From basic inputs to cool applications â€” let's grow together and have fun coding!

See you there,
ABC