In [1]:
# one powerful feature of variable in Python - DYNAMICALLY TYPED
# No need to declare the datatype like other programming languages!

n = 7           # Integer
name = "Mahi"   # String
num = 7.1981    # Float
flag = True     # Boolean

In [2]:
# to print the variables..
print(n, name, num, flag)

# to print the datatype of the variables
print(type(n), type(name), type(num), type(flag))

7 Mahi 7.1981 True
<class 'int'> <class 'str'> <class 'float'> <class 'bool'>

In [3]:
# drawback - declaration + initialization only possible.
# just declaration - a big NoOoOoO...
b # this will cause ERROR; can't do like this!

NameError: name 'b' is not defined

In [4]:
# but... can change datatype later as well!
b = 12
print(b, type(b))
print()
b = "apple"
print(b, type(b))

12 <class 'int'>

apple <class 'str'>

In [5]:
'''
Rules for Naming Variables:

Must begin with a letter (a-z, A-Z) or an underscore (_)
Can contain letters, digits, and underscores
Cannot start with a number
Case-sensitive (name and Name are different)
Should not use Python keywords (like for, if, class, etc.)
Cannot have space
'''

'\nRules for Naming Variables:\n\nMust begin with a letter (a-z, A-Z) or an underscore (_)\nCan contain letters, digits, and underscores\nCannot start with a number\nCase-sensitive (name and Name are different)\nShould not use Python keywords (like for, if, class, etc.)\nCannot have space\n'

In [5]:
# Rule 1 - Must begin with a letter (a-z, A-Z) or an underscore (_)

# all are valid variables...
abc = 1
ABC = 2
aBc = 3
_abc = 4

print(abc, ABC, aBc, _abc)

1 2 3 4

In [6]:
# Rule 2 - Can contain letters, digits, and underscores

# all are valid variables...
ABcDe = 5
ABC_123 = 6

print(ABcDe, ABC_123)

5 6

In [7]:
# Rule 3 - Cannot start with a number

# invalid

123abc = 10
print(123abc)

SyntaxError: invalid decimal literal (<ipython-input-7-ef200d537b32>, line 5)

In [8]:
# but can have num after the first char
a1b2c3_2025 = 7
print(a1b2c3_2025)

7

In [9]:
# Rule 4 - Case-sensitive (name and Name are different)

# all are valid variables...
name = "CSK"
Name = "MI"

print(name, Name)

CSK MI

In [10]:
# Rule 5 - Should not use Python keywords (like for, if, class, etc.)
 #list of PY keywords
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
# there are 35 keywords

# some invalid examples

True = 123

SyntaxError: cannot assign to True (<ipython-input-11-3a8d9e83abb9>, line 5)

In [12]:
break = continue

SyntaxError: invalid syntax (<ipython-input-12-7014047f7f22>, line 1)

In [13]:
# exceptional case - built in methods should not be confused with keywords - like sum, print, max etc.
print(max(1,2,3,4,5)) # max does the purpose of finding the largest number

5

In [14]:
max = "apple"
print(max) # No Error

apple

In [15]:
# but when we seek the help of max() to find the largest value, it fails!
print(max(1,2,3,4,5)) # because max is now a string.

# same with other built in methods as well! Be careful with print!
# Because once the print loses its functionality, we can't print anything! We've to restart the runtime!! :(

TypeError: 'str' object is not callable

In [16]:
# Rule 6 - Cannot have space
abc 123 = 2025
print(abc 123)

SyntaxError: invalid syntax (<ipython-input-16-7f39a0037f2a>, line 2)

In [17]:
# Constant Variables - full capital
PI = 3.14159       # All caps indicate this shouldn't change
MAX_USERS = 1000

print(PI, MAX_USERS)

3.14159 1000

In [18]:
# In Python, Variables are References (Not Containers)
a = 7
b = a
c = 7

# all three variables have same memory!

#proof
print(id(a), id(b), id(c))

10751048 10751048 10751048

In [19]:
a = "apple" # a's reference is changed from 7 to "apple", so memory location changes!!
print(id(a), id(b), id(c))

135412849316528 10751048 10751048

In [20]:
# multiple assignments in a single line
a,b,c,d = 1,2,3,4 # different values
print(a,b,c,d)

1 2 3 4

In [21]:
a = b = c = d = 2025 # same value
print(a,b,c,d)

2025 2025 2025 2025

In [22]:
# optional type hinting

# valid
year: int = 2015
name: str = "Ziva"
print(year, name)

# invalid
year: str = 2015
name: str = "Ziva"
print(year, name)
# this doesn't cause error even if the datatype is wrong! This is just a indication for the datatype to be used!

2015 Ziva
2015 Ziva

In [23]:
# Python handles memory automatically. When a variable has no more references, it's cleaned up.
a = 123
b = a
del a
# b still exists and holds the value

In [24]:
print(a,b) # Garbage Collection done for 'a'

NameError: name 'a' is not defined

In [25]:
print(b)

123