In [1]:
# Basic Data Types

a = 7 # Integer numbers
b = -0.99 # Floating-point numbers
c = "Enjoy Python!" # String (text)
d = True # Boolean values
e = None # Represents no value or null

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))

7 <class 'int'>
-0.99 <class 'float'>
Enjoy Python! <class 'str'>
True <class 'bool'>
None <class 'NoneType'>

In [2]:
# Collection Data Types - we'll discuss all these soon!

f = [1,2,3,"a", "b", "c"] # Ordered, mutable collection
g = (1,2,3,"a", "b", "c") # Ordered, immutable collection
h = {1:"a", 2:"b", 3:"c"} # Key-value pairs
i = {1,2,3,"a", "b", "c"} # Unordered collection of unique elements
j = frozenset([1,2,3]) # Immutable version of a set
k = range(7) # Sequence of numbers 0,1,2...5,6,7

print(f, type(f))
print(g, type(g))
print(h, type(h))
print(i, type(i))
print(j, type(j))
print(k, type(k))

[1, 2, 3, 'a', 'b', 'c'] <class 'list'>
(1, 2, 3, 'a', 'b', 'c') <class 'tuple'>
{1: 'a', 2: 'b', 3: 'c'} <class 'dict'>
{'a', 1, 2, 3, 'b', 'c'} <class 'set'>
frozenset({1, 2, 3}) <class 'frozenset'>
range(0, 7) <class 'range'>

In [3]:
# Advanced Data Types
l = b"abc" # Immutable byte sequence
m = bytearray(b"abc") # Mutable byte sequence
n = memoryview(b"abc") # Memory-efficient view of binary data
o = 3 + 4j # Complex numbers

print(l, type(l))
print(m, type(m))
print(n, type(n))
print(o, type(o))

b'abc' <class 'bytes'>
bytearray(b'abc') <class 'bytearray'>
<memory at 0x7a667abe6f80> <class 'memoryview'>
(3+4j) <class 'complex'>

In [4]:
# Features

# 1. Dynamic Typing -- we've dicussed this already! Hope you remember!

x = 10        # int
print(x, type(x))
x = "hello"   # now it's a str
print(x, type(x))

10 <class 'int'>
hello <class 'str'>

In [5]:
# 2. Everything is an Object
x = 5
print(x.bit_length())  # int behaves like an object
y = "hello"
print(y.upper())       # str behaves like an object

3
HELLO

In [6]:
# 3. Type Casting (Explicit Conversion)
print(int("10"))      # 10
print(float("3.14"))  # 3.14
print(str(123))       # "123"
print(list("abc"))    # ['a', 'b', 'c']

10
3.14
123
['a', 'b', 'c']

In [7]:
# 4. Boolean Conversion - Boolean Conversion
print(bool(0))        # False
print(bool(""))       # False
print(bool([]))       # False
print(bool("hello"))  # True

False
False
False
True

In [ ]:
# Soon we'll learn custom data types!!
# Yes it is Classes and Objects!!

In [ ]:
# Summer Activity!
'''
üèñÔ∏è Activity Instructions:
Imagine you are at the beach üèñÔ∏è, enjoying a sunny day with a refreshing drink ü•§.
You‚Äôre feeling curious about simple math (because, let‚Äôs face it, math is fun!). üòÑ You want to calculate:
The total cost of your drinks if each one costs ‚Çπ5.00 and you buy 3.
The total number of hours you‚Äôve spent in the sun based on your current temperature.
If it's 32¬∞C, and you‚Äôre planning to stay out until it reaches 35¬∞C, how long will you be outside?

Step 1: Write the expressions for both of these:
  Calculate the cost of drinks: 5 * 3
  Calculate the hours in the sun: 35 - 32

Step 2: Use the Python program (with eval()) to evaluate your expressions and convert the results to float. See how Python handles your inputs and how you can play with the results dynamically.

Step 3: Now, get creative! Try adjusting the numbers to fit new situations. For example:
  What if the drink costs $4.50 instead of ‚Çπ5?
  What if the temperature starts at 30¬∞C and you want to stay out until it hits 40¬∞C?

Step 4: Reflect: What would happen if you typed a complex expression?
How does Python evaluate it? Try expressions like 10 * (2 + 3) or 20 / 4 + 6
'''

In [8]:
ex_1 = "5 * 3"  # Total cost of drinks
ex_2 = "35 - 32"  # Hours in the sun

res_1 = float(eval(ex_1))
res_2 = float(eval(ex_2))

print(f"Total cost of drinks: ‚Çπ{res_1:.2f}")
print(f"Time spent in the sun: {res_2} hours")

Total cost of drinks: ‚Çπ15.00
Time spent in the sun: 3.0 hours

In [9]:
price = 4.50
num = 3

total_cost = float(eval(f"{price} * {num}"))

print(f"Total cost of drinks: ‚Çπ{total_cost:.2f}")

Total cost of drinks: ‚Çπ13.50

In [10]:
temp = 30
target = 40

res = float(eval(f"{target} - {temp}"))

print(f"Time spent in the sun: {res} hours")

Time spent in the sun: 10.0 hours

In [11]:
# What would happen if you typed a complex expression?
expression = "2 * (3 + 4) - 5 + 10 / 2"

result = float(eval(expression))

print(f"Result of '{expression}' is: {result}")

Result of '2 * (3 + 4) - 5 + 10 / 2' is: 14.0

In [ ]:
# Enjoy the datatypes with cool drinks in this hot Summer!
# Happy Coding!