In [1]:
# for - iterate through a sequence or number of times
# using range
for i in range(7): # 7 is end value - 1
  print(i, end = " ")

0 1 2 3 4 5 6

In [2]:
for i in range(1,11,1): # start = 1; stop = 10; step = 1 (default value)
  print(i, end = " ") # start and step are optional

1 2 3 4 5 6 7 8 9 10

In [3]:
# reverse for loop
for i in range(20,0,-1):
  print(i, end = " ")

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [4]:
# print odd numbers from 1 to 25 using step
for i in range(1,26,2):
  print(i, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25

In [5]:
# print even numbers from 1 to 25 without step but using if
for i in range(1,26):
  if i % 2 == 0:
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24

In [6]:
# sequence - string
s = "helloworld"
for i in s:
  print(i, end = " - ") # after last char also - is there

# we'll see same for loop in list and two more for loop editions - enumerate and zip!!

h - e - l - l - o - w - o - r - l - d -

In [7]:
# no - after last char
s = "helloworld"
for i in s:
  if i != s[-1]: # last char index is -1. Let's see in details in Strings chapter
    print(i, end = " - ")
  else:
    print(i)

h - e - l - l - o - w - o - r - l - d

In [8]:
# for with break
for i in range(1, 10):
    if i == 5:
        break  # stops the loop
    print(i, end = " ")

1 2 3 4

In [9]:
# for with continue
for i in range(1, 10):
    if i == 5:
        continue  # skips the current iteration
    print(i, end = " ")

1 2 3 4 6 7 8 9

In [10]:
# for else suite
for i in range(3):
    print(i, end = " ")
else:
    print("\nLoop completed without break!")
print("Outside the loop")

0 1 2
Loop completed without break!
Outside the loop

In [11]:
for i in range(1,5):
  if i == 3:
    break
  else:
    print(i, end = " ")
else:
  print("\nElse in For!")
print("\nOutside the loop")

1 2
Outside the loop

In [12]:
# nested for loop
for i in range(1,4):
    for j in range(1,4):
        print(f"{i}, {j}")
    print()

1, 1
1, 2
1, 3

2, 1
2, 2
2, 3

3, 1
3, 2
3, 3

In [13]:
# simple pyramid pattern

n = 7

for i in range(1, n + 1):
    for j in range(n - i):
        print("   ", end=" ")

    for k in range(2 * i - 1):
        print(" * ", end=" ")

    print()

                         *
                     *   *   *
                 *   *   *   *   *
             *   *   *   *   *   *   *
         *   *   *   *   *   *   *   *   *
     *   *   *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *   *   *   *

In [14]:
# Floyd's Triangle
n = 7
num = 1

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [15]:
# Multiplication Table
num = int(input("Enter the number for which multiplication table has to be generated: "))
limit = int(input("Enter the limit till which the multiplication table has to be generated: "))
for i in range(1, limit+1):
    print(f"{num} × {i} = {num * i}")

Enter the number for which multiplication table has to be generated: 7
Enter the limit till which the multiplication table has to be generated: 12
7 × 1 = 7
7 × 2 = 14
7 × 3 = 21
7 × 4 = 28
7 × 5 = 35
7 × 6 = 42
7 × 7 = 49
7 × 8 = 56
7 × 9 = 63
7 × 10 = 70
7 × 11 = 77
7 × 12 = 84

In [16]:
# sum of numbers using loop
n = 100
total = 0
for i in range(1, n+1):
  total += i
print(f"Sum of numbers from 1 to {n} natural numbers is {total}.")

Sum of numbers from 1 to 100 natural numbers is 5050.

In [17]:
# generate a simple password
import random
import string

length = 8
password = ""

for _ in range(length):
    password += random.choice(string.ascii_letters + string.digits + string.punctuation)

print("Generated Password:", password)

Generated Password: 4%JB<eC)

In [18]:
print(string.ascii_letters)
print(string.digits)
print(string.punctuation)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [19]:
# username and email validation

username = input("Enter your username: ")
email = input("Enter your email: ")

valid_username = True
if len(username) < 5 or len(username) > 15:
    valid_username = False
else:
    for i in username:
        if not i.isalnum():  # Check if each character is alphanumeric
            valid_username = False
            break

if valid_username:
    print("Username is valid.")
else:
    print("Invalid username. It must be 5-15 characters long and alphanumeric.")

at_found = False
dot_found = False

for char in email:
    if char == '@':
        at_found = True
    if char == '.':
        dot_found = True

if at_found and dot_found:
    print("Email is valid.")
else:
    print("Invalid email. It must contain '@' and '.'.")

Enter your username: msdhoni
Enter your email: dhoni@gmail.com
Username is valid.
Email is valid.